<!doctype html>
<html ng-app="drag-and-drop">

<head>

	<title>Drag 'n' Drop page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap -->
	<!--<link href="../css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">-->
	<link href="../css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
	<!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../css/custom-bootstrap.css" rel="stylesheet" media="screen">


</head>

<style>
.verb-button {
	height: 50px;
	margin-bottom: 10px;
	z-index: 1;
	text-align: center;
	font-weight: bold;
	color: #555;
	
}


input.ng-invalid {
	background-color: #F2DEDE;
}

.separator {
	min-height: 60px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #BBBBBB;
}

.separator-active {
	background-color: #D9EDF7;
	/*height: 20px;*/
}

.editor .panel-heading {
	padding: 5px 10px;
}

.header .cogs {
	font-size: 41px;
}

.editor {
	min-height: 504px;
}

.close_step {
	cursor:pointer;
	float:right;
}

.close_step:hover {
	opacity: 0.6;
}

.toggle_step:hover {
	opacity:0.6;
}

.step.panel {
	margin-bottom: 5px;
}

/* override jquery-ui colors since theme-roller never responded */
.ui-widget-header {
	background: none;
	background-color: #428BCA;

	border: 1px solid #428BCA;
	color: #fff;
}





</style>


<body>

<!-- the resulting xml dialog. I used jquery-ui since angular-ui support for bootstrap-3 is still limited -->
<div id="dialog" style="display:none" title="RCML Application">
	<p class="content">...</p>
</div>
	
	
	
<!-- play step -->
<script type="text/ng-template" id='playTemplate'>
	<div class="step panel panel-info">
		<div class="panel-heading"><h4 class="panel-title"><span ng-click='step.isCollapsed = !step.isCollapsed' class="glyphicon toggle_step" ng-class="{'glyphicon-plus-sign': step.isCollapsed, 'glyphicon-minus': !step.isCollapsed}">&nbsp;</span> {{step.title}} &nbsp;<small>{{step.fileurl}}</small> <span ng-click='removeStep(step)' class='close_step glyphicon glyphicon-trash'></span> </h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
				<div class="form-group">
					<label for="audioFileURL">Audio file URL</label>
					<input ng-model='step.fileurl' type="url" id="audioFileURL" class="form-control" placeholder="http://server/resources/message.wav" tooltip="A URL to an audio file resource" required>
					<span class="help-block">A URL to an audio file resource</span>
				</div>
				
				<div class="row">
					<div class="form-group col-lg-4">
						<label for="loopTextInput">Loop</label>
						<input ng-model='step.loop' type="number" id='loopTextInput' class="form-control" placeholder='3' data-toggle='tooltip' title='Times to repeat the message. Leave it blank to loop until the call is hung up.'>
						<span class="help-block">Times to repeat the message. Leave it blank to loop until the call is hung up.</span>
					</div>	
				</div>							
		</div>
	</div>				
</script>

<!-- say step -->
<script type="text/ng-template" id='sayTemplate'>
	<div class="step panel panel-info">
		<div class="panel-heading"><h4 class="panel-title"><span ng-click='step.isCollapsed = !step.isCollapsed' class="glyphicon toggle_step" ng-class="{'glyphicon-plus-sign': step.isCollapsed, 'glyphicon-minus': !step.isCollapsed}">&nbsp;</span> {{step.title}} <small>{{step.phrase}}</small> <span ng-click='removeStep(step)' class='close_step glyphicon glyphicon-trash'></span> </h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
			<div class="form-group">
				<label for="phraseTextInput">Phrase</label>
				<input ng-model='step.phrase' type="text" id="phraseTextInput" class="form-control" placeholder="say something..." tooltip="The text that will be read to the user" required>
				<span class="help-block">The text that will be read to the user</span>
			</div>
			
			<div class="row">
				<div class="col-lg-3">
					<div class="form-group">
						<label for="phraseTextInput">Voice</label>
						<div class="radio">		
							<label><input type="radio" value="man" ng-model='step.voice'>man</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="woman" ng-model='step.voice'>woman</label>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="form-group">
						<label for="languageSelect">Language</label>
						<select ng-model='step.language' ng-options='language.name as language.text for language in languages'  id="languageSelect" class="form-control" tooltip="The 'language' attribute allows you pick a specific language for speech synthesis">
						</select>
						<span class="help-block">The 'language' attribute allows you pick a specific language for speech synthesis</span>
					</div>
				</div>
			</div><!-- /row -->
		</div>
	</div>
</script>


<!-- gather step-->
<script type="text/ng-template" id='gatherTemplate'>
	<div class="step panel panel-info">
		<div class="panel-heading"><h4 class="panel-title"><span ng-click='step.isCollapsed = !step.isCollapsed' class="glyphicon toggle_step" ng-class="{'glyphicon-plus-sign': step.isCollapsed, 'glyphicon-minus': !step.isCollapsed}">&nbsp;</span> {{step.title}} <small>{{step.action}}</small><span ng-click='removeStep(step)' class='close_step glyphicon glyphicon-trash'></span> </h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
			<div class='row'>
				<div class="form-group col-lg-6">
					<label for="actionURL">Action URL</label>
					<input ng-model='step.action' type="url" id="actionURL" class="form-control" placeholder="http://server/action.php" required>
					<span class="help-block">An absolute or relative URL that will receive the digits</span>
				</div>
				<div class="form-group col-lg-3">
					<label for="actionMethod">Method</label>
					<select ng-model='step.method' ng-options='method for method in methods' id='actionMethod' class='form-control'></select>
				</div>
				<div class="form-group col-lg-3">
					<label for="gatherTimeout">Timeout</label>
					<input ng-model='step.timeout' type="number" id="gatherTimeout" class="form-control" placeholder="5" tooltip-placement='left' tooltip='Time (in seconds) to wait for the caller to press another digit'>
				</div>
			</div>
			<div class='row'>
				<div class="form-group col-lg-3">
					<label for="finishOnKey">Finish on key</label>
					<input ng-model='step.finishOnKey' id='finishOnKey' type='text' ng-pattern='/^[0-9\#\*]$/' class='form-control' tooltip="The 'finishOnKey' attribute lets you choose one value that submits the received data when entered. For example, if you set 'finishOnKey' to '#' and the user enters '1234#'">
				</div>
				<div class="form-group col-lg-3">
					<label for="numDigits">Finish on key</label>
					<input ng-model='step.numDigits' id='numDigits' type='number' class='form-control' tooltip="The 'numDigits' attribute lets you set the number of digits you are expecting, and submits the data to the 'action' URL once the caller enters that number of digits.">
				</div>												
			</div>
			

		
			<small>
			<div ng-repeat='step in step.steps'>
				<div ng-switch on="step.kind">
					<div ng-switch-when="say">
						<ng-include src="'sayTemplate'"></ng-include>
					</div>
					<div ng-switch-when="play">
						<ng-include src="'playTemplate'"></ng-include>
					</div>																										
				</div>
			</div>
			<div class="separator bs-callout bs-callout-droppable text-center" data-drop='true' ng-model='step.steps' jqyoui-droppable="{index:{{$index+1}}, insert:true}" data-jqyoui-options="{accept:'.kind-say,.kind-play', activeClass:'separator-active'}"><h5>Nest any <em>Say</em> or <em>Play</em> verbs here</h5></div>
			</small>
	
		</div>
</script>

<!-- dial step -->
<script type="text/ng-template" id="dialTemplate">
	<div class="step panel panel-info">
		<div class="panel-heading"><h4 class="panel-title"><span ng-click='step.isCollapsed = !step.isCollapsed' class="glyphicon toggle_step" ng-class="{'glyphicon-plus-sign': step.isCollapsed, 'glyphicon-minus': !step.isCollapsed}">&nbsp;</span> {{step.title}} <span ng-click='removeStep(step)' class='close_step glyphicon glyphicon-trash'></span> </h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
			<div class='row'>
				<div class="form-group col-lg-4">
					<label for="numberToCall">Number to dial</label>
					<input ng-model='step.numberToCall' id='numberToCall' type='text' class='form-control' placeholder='1-444-555-6666' tooltip="Dial to this number">
				</div>					
				<div class="form-group col-lg-3">
					<label for="timeLimit">Time limit</label>
					<input ng-model='step.timeLimit' id='timeLimit' type='number' class='form-control' tooltip="The 'timeLimit' attribute sets the maximum duration of the <Dial> in seconds">
				</div>
				<div class="form-group col-lg-4">
					<label for="callerId">Caller ID</label>
					<input ng-model='step.callerId' id='callerId' type='text' class='form-control' tooltip="The 'callerId' attribute lets you specify the caller ID that will appear to the called party when RestComm calls.">
				</div>												
			</div>			
			<div class='row'>
				<div class="form-group col-lg-6">
					<label for="actionURL">OnEnd URL</label>
					<input ng-model='step.action' type="text" id="actionURL" class="form-control" placeholder="http://server/action.php" tooltip="The 'action' attribute takes a URL as an argument. When the dialed call ends, RestComm will make a GET or POST request to this URL">
					<span class="help-block">Make this request when call ends</span>
				</div>
				<div class="form-group col-lg-3">
					<label for="actionMethod">Method</label>
					<select ng-model='step.method' ng-options='method for method in methods' id='actionMethod' class='form-control'></select>
				</div>
				<div class="form-group col-lg-3">
					<label for="gatherTimeout">Timeout</label>
					<input ng-model='step.timeout' type="number" id="gatherTimeout" class="form-control" placeholder="5" tooltip-placement='left' tooltip='Time (in seconds) to wait for the caller to press another digit'>
				</div>
			</div>

			
			<small>
			<div ng-repeat='step in step.steps'>
				<div ng-switch on="step.kind">
					<div ng-switch-when="number">
						<ng-include src="'numberTemplate'"></ng-include>
					</div>
					<div ng-switch-when="client">
						<ng-include src="'clientTemplate'"></ng-include>
					</div>																										
				</div>
			</div>
			<div class="separator bs-callout bs-callout-droppable text-center" data-drop='true' ng-model='step.steps' jqyoui-droppable="{index:{{$index+1}}, insert:true}" data-jqyoui-options="{accept:'.kind-number,.kind-client', activeClass:'separator-active'}"><h5>Nest any <em>Number</em> or <em>Client</em> <strong>nouns</strong> here</h5></div>
			</small>
	
		</div>
</script>

<!-- number step -->
<script type="text/ng-template" id='numberTemplate'>
	<div class="step panel panel-info">
		<div class="panel-heading"><h4 class="panel-title"><span ng-click='step.isCollapsed = !step.isCollapsed' class="glyphicon toggle_step" ng-class="{'glyphicon-plus-sign': step.isCollapsed, 'glyphicon-minus': !step.isCollapsed}">&nbsp;</span> {{step.title}} <span ng-click='removeStep(step)' class='close_step glyphicon glyphicon-trash'></span> </h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>				
				<div class="row">
					<div class="form-group col-lg-4">
						<label for="numberToCall">Number to call</label>
						<input ng-model='step.numberToCall' type="text" id='numberToCall' class="form-control" placeholder='1-444-555-6666' data-toggle='tooltip' tooltip="The number to call" required>
					</div>	
					<div class="form-group col-lg-4">
						<label for="sendDigits">Send digits</label>
						<input ng-model='step.sendDigits' type="number" id='sendDigits' class="form-control" placeholder='3' data-toggle='tooltip' tooltip="The 'sendDigits' attribute tells RestComm to play DTMF tones when the call is answered. This is useful when dialing a phone number and an extension.">
					</div>	
					
					<div class="form-group col-lg-4">
						<label for="numberUrl">On end URL</label>
						<input ng-model='step.numberUrl' type="url" id="numberUrl" class="form-control" placeholder="http://server/applications/foo.rcml" tooltip=" The 'url' attribute allows you to specify a url for a RCML document that will run on the called party's end, after he/she answers, but before the parties are connected. You can use this RCML to privately play or say information to the called party, or provide a chance to decline the phone call using <Gather> and <Hangup>">
						<span class="help-block">RCML document that will run on the called party's end</span>
					</div>
				</div>							
		</div>
	</div>				
</script>


<!-- client step -->
<!-- ... -->


	<div class="container">
	<div class="row header">
		<div class="col-md-6">
			<h1>RestComm Designer <small>&nbsp;&nbsp;&nbsp;<span class="cogs glyphicon glyphicon-cog"></span></small></h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2" ng-controller="verbController">
			<!-- Toobox -->
			<div class="panel panel-primary">
				
				<div class="panel-heading">
					<h4 class="panel-title">Toolbox</h4>
				</div>
				<div class="panel-body">
					<div ng-repeat="verb in verbs">
						<div id="button{{verb.kind}}" class="bs-callout bs-callout-draggable verb-button kind-{{verb.kind}}" data-drag="true" data-jqyoui-options="{revert: 'invalid',helper:'clone'}" ng-model="verb" jqyoui-draggable="{placeholder:'keep'}">{{verb.label}}</div> 
					</div>
				</div>
			</div>
			
			<button class="btn btn-success btn-block btn-lg" ng-click='generate()' >generate xml</button>
			<button class="btn btn-danger btn-block" ng-click='clear_steps()'>clear</button>
			
			<!-- /Toolbox -->
		</div><!-- column -->

		<div class="col-md-10">
			<!-- Editor -->
			<div class="editor panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Editor</h4>
				</div>
				
				
				<div class="panel-body editor" ng-controller="projectController">
					
					<p ng-show='steps.length'><button class="btn btn-primary" ng-click="expandAll()"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Expand All</button>&nbsp;&nbsp;<button class="btn btn-primary" ng-click="collapseAll()"><span class="glyphicon glyphicon-minus">&nbsp;</span>Collapse All</button></p>
					
					<div class="separator bs-callout bs-callout-droppable text-center" data-drop='true' ng-model='steps' jqyoui-droppable="{index:0, insert:true}" data-jqyoui-options="{accept:'.kind-say,.kind-play,.kind-gather,.kind-dial', activeClass:'separator-active'}"><h4 ng-hide="steps.length">Drag any verb here to start</h4></div>
					<div ng-repeat='step in steps'>
						<div ng-switch on="step.kind">
						
							<!-- step -->
							<div ng-switch-when="say">
								<ng-include src="'sayTemplate'"></ng-include>
							</div>
							
							<!-- /step -->
							
							<div ng-switch-when="play">
								<ng-include src="'playTemplate'"></ng-include>
							</div>
							
							<!-- /step -->	
											
							<div ng-switch-when='gather'>
								<ng-include src="'gatherTemplate'"></ng-include>
							</div>
							
							<!-- step -->	
							<div ng-switch-when='dial'>
								<ng-include src="'dialTemplate'"></ng-include>
							</div>								
						</div>
						<div class="separator bs-callout bs-callout-droppable" data-drop='true' ng-model='steps' jqyoui-droppable="{index:{{$index+1}}, insert:true}" data-jqyoui-options="{accept:'.kind-say,.kind-play,.kind-gather,.kind-dial', activeClass:'separator-active'}"></div>
					</div>
					
					<!--<div>{{steps}}</div>-->
					
					<!--</div>-->
				</div>
			</div>
			<!-- /Editor -->
			
			
			
		</div>
	
	
	
	</div><!-- row -->
	
	<hr>
	</div><!-- container -->
	
		
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	
	<script src="../js/angular.min.js"></script>
	<script src="../js/angular-dragdrop.js"></script>
	<script src="../js/ui-bootstrap-tpls-0.5.0.js"></script>
	<script src="controllers.js"></script>
	
	
</body>


</html>
